<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapmyindia.smartcity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".KrumbsCamera"
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.krumbs.sdk.APPLICATION_ID"
            android:value="@string/krumbssdk_app_id" />
        <meta-data
            android:name="io.krumbs.sdk.CLIENT_KEY"
            android:value="@string/krumbssdk_client_key" />

        <activity android:name=".MapActivity" />
        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="" />
        <activity android:name=".KrumbsActivity" />
        <activity android:name=".GridHome" />
        <activity android:name=".GridNearby" />

        <service
            android:name=".SensorService"
            android:enabled="true" />

        <activity android:name=".TutorialActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search" />
        <activity android:name=".CardLayout" />
        <activity android:name=".KrumbsReport" />
        <activity android:name=".NewsActivity"></activity>
    </application>

</manifest>